html, body {
  margin: 0 auto;
  background: #efefef;
  font-family: basic-sans, sans-serif; }

.main {
  width: 1250px;
  margin: 0 auto; }

.body {
  display: flex; }
  .body nav {
    flex-grow: 0; }
  .body main {
    flex-grow: 1; }

nav {
  width: 300px; }
  nav ul {
    padding-left: 15px; }

header h1 {
  font-size: 80px;
  text-align: center; }
